# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
certifi=2019.3.9=py36_0
click=7.0=py36_0
flask=1.0.2=py36_1
itsdangerous=1.1.0=py36_0
jinja2=2.10.1=py36_0
markupsafe=1.1.1=py36he774522_0
pip=19.1=py36_0
python
python-dotenv
setuptools
sqlite
vc
vs2015_runtime
werkzeug
wheel
wincertstore
